# Проект дашборд конверсий

### Задачи для предварительного анализа данных:ribe

* Склонируйте созданный репозиторий проекта на рабочую машину
* Создайте Jypyter Notebook и подключите необходимые библиотеки (pandas, requests)
* Запросите данные по API за период 2023-03-01 -> 2023-09-01
* Изучите данные, сделайте предварительный анализ с помощью dataframe.describe

Импортируем необходимые библиотеки:

In [29]:
import pandas as pd
import requests

Запросим данные из csv файлов для первой и второй таблицы

In [18]:
visits = pd.read_csv('./visits_1k.csv')

In [19]:
registrations = pd.read_csv('./regs_1k.csv')

Напишем функцию, которая фильтруют данные в соответсвии с условием. Период 2023-03-01 -> 2023-09-01.

In [20]:
def filtered_data_by_date(df):
    df['date'] = pd.to_datetime(df['date'])
    start_date = pd.Timestamp('2023-03-01')
    end_date = pd.Timestamp('2023-09-01')

    filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]
    return filtered_df

Применим функцию к таблице визитов

In [21]:
filtered_visits = filtered_data_by_date(visits)
filtered_visits.head(200)

,uuid,platform,user_agent,date
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01 13:29:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-01 16:44:28
2,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-06 06:12:36
3,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01 20:16:37
4,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-05 17:42:47
...,...,...,...,...
195,e363bad9-23d8-4263-aa84-727e10b07891,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01 00:45:42
196,e363bad9-23d8-4263-aa84-727e10b07891,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-03 15:59:52
197,54ef7f95-9688-4018-a535-7be9e7c5af18,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01 15:50:03
198,54ef7f95-9688-4018-a535-7be9e7c5af18,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-04 05:38:11
199,c0c16b36-c0ea-42d1-9950-a263faec571d,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01 19:25:57

Применим функцию к таблице регистраций

In [22]:
filtered_registrations = filtered_data_by_date(registrations)
filtered_registrations.head(200)

,date,user_id,email,platform,registration_type
0,2023-03-01 00:25:39,8838849,joseph95@example.org,web,google
1,2023-03-01 14:53:01,8741065,janetsuarez@example.net,web,yandex
2,2023-03-01 14:27:36,1866654,robert67@example.org,web,google
3,2023-03-01 02:42:34,1577584,elam@example.net,web,apple
4,2023-03-01 10:27:14,4765395,stephanie68@example.net,web,yandex
...,...,...,...,...,...
195,2023-03-02 09:22:02,4482100,anne96@example.com,android,google
196,2023-03-02 12:07:44,3508372,steven58@example.org,android,google
197,2023-03-02 04:09:51,7470923,ybanks@example.org,android,google
198,2023-03-02 03:02:38,878113,ericagibson@example.com,android,google
199,2023-03-02 07:51:48,3830711,murphyjaclyn@example.net,android,google

Проанализируем данные по входам с помощью функции **describe()**

In [23]:
filtered_visits.describe()

                                date
count                           1000
mean   2023-03-02 18:25:04.564000256
min              2023-03-01 00:05:35
25%              2023-03-01 12:02:27
50%       2023-03-01 23:28:04.500000
75%    2023-03-03 21:42:13.249999872
max              2023-03-07 23:05:08

Большинство визитов было сделано до 03.03.2023, при этом половина из них была сделана в первый день 01.03.2023.

Проанализируем данные по регистрациями с помощью функции **describe()**

In [24]:
filtered_registrations.describe()

                             date       user_id
count                        1000  1.000000e+03
mean   2023-03-03 10:59:03.900000  4.488623e+06
min           2023-03-01 00:12:22  2.236800e+04
25%    2023-03-02 14:08:57.500000  2.235489e+06
50%           2023-03-03 10:33:06  4.473044e+06
75%    2023-03-04 07:32:06.500000  6.779707e+06
max           2023-03-05 22:04:01  8.881772e+06
std                           NaN  2.620568e+06

Первая регистрация была соверешна в первый день 01.03.2023, более половины было зарегистрировано 03.03.2023 и большая часть до 04.03.2023

Запросим данные по API за период 2023-03-01 -> 2023-09-01 сначала

In [32]:
req = requests.get("https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01")

src = req.json()
df = pd.DataFrame(src)

print(df)

                             datetime platform  \
0       Wed, 01 Mar 2023 10:36:22 GMT      web
1       Wed, 01 Mar 2023 06:25:00 GMT      web
2       Wed, 01 Mar 2023 10:26:13 GMT      web
3       Wed, 01 Mar 2023 12:33:06 GMT      web
4       Wed, 01 Mar 2023 01:38:35 GMT      web
...                               ...      ...
263454  Tue, 29 Aug 2023 10:43:29 GMT      web
263455  Tue, 29 Aug 2023 19:29:16 GMT      web
263456  Tue, 29 Aug 2023 12:51:11 GMT      web
263457  Tue, 29 Aug 2023 21:45:08 GMT      web
263458  Wed, 30 Aug 2023 19:19:04 GMT      web

                                               user_agent  \
0       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1       Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...
2       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...
3       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
4       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
...                                                   ...
263454  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
263455  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...
263456  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
263457  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
263458  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...

                                    visit_id
0       1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1       f149f542-e935-4870-9734-6b4501eaf614
2       08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
3       19322fed-157c-49c6-b16e-2d5cabeb9592
4       04762a22-3c9f-40c9-9ac9-6628c4381836
...                                      ...
263454  6d2e2f5b-970b-4dfe-8f57-25711a5b2a5d
263455  1d91535e-d984-4f76-bbaa-c14c0fd4f2e2
263456  f2496721-7126-430d-976e-777a6cdccb4f
263457  f2496721-7126-430d-976e-777a6cdccb4f
263458  73047125-de44-4d65-8229-7218acff4ddc

[263459 rows x 4 columns]

In [33]:
req = requests.get("https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01")

src = req.json()
df = pd.DataFrame(src)

print(df)

                            datetime                       email platform  \
0      Wed, 01 Mar 2023 07:40:13 GMT           ebyrd@example.org      web
1      Wed, 01 Mar 2023 13:14:00 GMT    knightgerald@example.org      web
2      Wed, 01 Mar 2023 03:05:50 GMT  cherylthompson@example.com      web
3      Wed, 01 Mar 2023 00:04:47 GMT       halldavid@example.org      web
4      Wed, 01 Mar 2023 18:31:52 GMT        denise86@example.net      web
...                              ...                         ...      ...
21831  Thu, 31 Aug 2023 07:32:08 GMT         ikelley@example.net      ios
21832  Thu, 31 Aug 2023 23:25:50 GMT     brittanycox@example.net      ios
21833  Thu, 31 Aug 2023 19:29:18 GMT           aryan@example.net      ios
21834  Thu, 31 Aug 2023 19:38:54 GMT       emartinez@example.net      ios
21835  Thu, 31 Aug 2023 08:36:05 GMT      terriperry@example.net      ios

      registration_type                               user_id
0                google  2e0f6bb8-b029-4f45-a786-2b53990d37f1
1                 email  f007f97c-9d8b-48b5-af08-119bb8f6d9b6
2                 apple  24ff46ae-32b3-4a74-8f27-7cf0b8f32f15
3                 email  3e9914e1-5d73-4c23-b25d-b59a3aeb2b60
4                google  27f875fc-f8ce-4aeb-8722-0ecb283d0760
...                 ...                                   ...
21831             apple  a94b4a28-f25c-433c-b4ef-85af7d5b0c11
21832             apple  fc709c6b-528b-40d8-8980-c2c278e5a628
21833             apple  11e32805-7571-4108-8e50-e211d051bf7e
21834             email  bce7b818-768b-434a-b6af-573cd60bff7f
21835             email  fe03e08a-8e86-4b5f-9a50-c18a02b0d234

[21836 rows x 5 columns]